body{
    background: rgb(194, 170, 126);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
}

.container {
    width: 50vw;
}

header {
    background-image: url('/images/cover mine.jpg');
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .home{
    background:green;
    width: 100px;
    text-align: center;
    padding: 0px;
    height: 100px;
}

header a {
    text-decoration:none;
    color: white;
}

header img {
    max-width: 100px;
}

header .buttons {
    display: flex;
    justify-content: space-around;
}

/*header .btn{
    margin: 2px;
    border: solid brown 1px;
    padding: 0px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    background:cornsilk;
    font-weight: bold;
}*/

header i{
    font-size: 26px;
    margin: 70px 4px 0px 4px;
}

nav {
    background: rgb(211, 210, 210);
    padding: 0px;
    margin: 10px 0;
}

nav ul {
    background: rgb(194, 170, 126);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
    padding: 5px;
}

nav ul li {
    background: beige;
    margin: 5px;
    padding: 10px;
    list-style: none;
    border-radius: 10px;
}
@media screen and (max-width: 768px) {
    nav ul {
        display: flex;
        flex-wrap: wrap;
    }
}

section {
    background:  rgb(194, 170, 126);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    padding: 10px;
    text-align:center;
    height: 250px;
    margin: 10px 0;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

section .category {
    border: solid black 1px;   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    font-size: 2rem;
}

section .category a{
    font-size: 1.25rem;
    background-color:wheat;
    padding: 5px 30px;
    border:rgb(194, 170, 126) solid 2px;
    border-radius: 25px;
    text-decoration: none;
    color: rgb(136, 104, 46) ;
}
@media screen and (max-width: 1100px) {
    #botiga, #activitats, #comunitat {
        font-size: 1.25rem;
        flex-grow: 1;
        justify-content: center;
    }
    section .category a {
        font-size: 1rem;
        padding: 5px;
    }
}

#botiga {
    background-image: url('/images/botiga.jpg');
}

#activitats {
    background-image: url('/images/activitats.jpg');
}

#comunitat {
    background-image: url('/images/comunitat.jpg');
}

.principal {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 10px 0;
    margin: 10px 0;
}
@media screen and (max-width: 768px) {
    .principal {
        display: flex;
        flex-wrap: wrap;
    }
    aside {
        flex-grow: 1;
        text-align: center;
    }
}

article {
    background: lightgray;
    padding: 10px 50px;
}

article h2 {
    color:rgb(27, 60, 131);
    text-align: center;
    font-size: 1.5rem;
}

article img {
    width: 100%;
    margin: 20px 0px;
}

article .more{
    text-align: right;
}

aside {
    background: darkgray;
    padding: 10px;
}

footer {
    background: rgb(168, 142, 93);
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    font-weight: 100;
    font-size: 12px;
}

