<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../styles/css/index.css">
    <link rel="stylesheet" href="./../bootstrap/css/bootstrap.css">
    <script src="https://kit.fontawesome.com/22d5895588.js" crossorigin="anonymous"></script>

</head>
<body>

    <div id="app" class="container">

        <h1>{{ titulo }}</h1>

        <input type="text" v-model="nuevaVerdura">
        <button @click="agregarVerdura">Agregar</button>
        {{ this.nuevaVerdura }}

        <ul>
            <li v-for="fruta of frutas">{{fruta}}</li>
            <li v-for="verdura of verduras">{{verdura.nombre}} - {{verdura.cantidad}} 
                <span v-if="verdura.cantidad < 5">; Quedan pocos</span>
            </li>
        </ul>

    </div>
    
<!-- SCRIPTS -->
    <script src="./../scripts/es6/vue.js"></script>
    <script src="./../bootstrap/js/jquery-3.5.1.slim.min.js"></script>
    <script src="./../bootstrap/js/popper.min.js"></script>
    <script src="./../bootstrap/js/bootstrap.min.js"></script>
    <script src="./../scripts/bundle.js"></script>
</body>
</html>