<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pruebas 01 console</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div id="app" class="container mt-3 p-3 bg-light border border-success rounded">

        <template v-if="seen">
            <h1 class="text-success">{{ message1 }}</h1>

            <input type="text" v-model="message1">

            <span class="text-dark" v-bind:title="message2">Hover mouse over to see something</span>

            <h2>Now you see me</h2>
        </template>
        <h5 v-else>There was some text here</h5>

        <button class="btn" @click="hideText">Hide text</button>

        <button class="btn btn-warning" v-on:click="capitalizeName">Capitalize Names!</button>

        <li v-for="(baby,index) in babies" class="list-group-item">
            <strong>{{index+1}} {{baby.name}}</strong><br>
            Age: {{baby.age}}<br>
            Location: {{baby.location}}<br>
        </li>
    </div>
    




    <!-- SCRIPTS -->
    <script src="./index.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>