body {
    font-family: 'Montserrat', sans-serif;
    background: beige;
}

header {
    background: transparent;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 20px 0px;
    padding: 20px;
}

.subheader1 {
    background: transparent;
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
    margin: 0 0 5px 0;
    padding: 10px;
    flex-wrap: wrap;
}

.sh1-1 {
    background: inherit;
    width: auto;
    height: auto;
    padding: 5px;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sh1-1 img {
    max-height: 50px;

}

.sh1-2 {
    background: inherit;
    width: auto;
    height: auto;
    padding: 5px;
    padding-left: 2%;
    flex: 5;
    margin: 0px 10px;
    display: flex;
    align-items: center;
}
.sh1-2 i {
    margin: 5px;
}
.sh1-2 p {
    margin-left: 10px;
}
.sh1-2 p:hover {
    color:teal;
    font-weight: bold;
    cursor: pointer;
}

.sh1-3 {
    background: inherit;
    width: auto;
    height: auto;
    padding: 5px;
    flex: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.subheader2 {
    background-image: url('../images/Activitat\ Flex\ -\ Nivell\ 2\ -\ fons\ capçalera\ CUT.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
    margin: 5px 0 0 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 9%;
    padding-bottom: 9%;
}

.sh2-1 {
    background: transparent;
    width: auto;
    padding: 0px;
    flex: auto;
    text-align: center;
    color: rgba(255,24,25,.5);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: serif;
}

article {
    background: transparent;
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
    margin: 20px 0px;
    padding: 15px;
}

.subart1 {
    background: lightgray;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: auto;
    height: auto;
    padding: 1%;
    flex: 4;
    flex-wrap: wrap;
}

.sa1-1, .sa1-2, .sa1-3, .sa1-4 {
    background: brown;
    width: calc(50% - 15px);
    padding: 0px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    border:brown solid 1px;
}

.picture1, .picture2, .picture3, .picture4 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 60%;
    padding-left: 3%;
    text-align: left;
    color: white;
    font-weight: bolder;
}
.picture1 {
    background-image: url('../images/cerezo.jpg');
}
.picture2 {
    background-image: url('../images/noodles.jpg');
}
.picture3 {
    background-image: url('../images/tokio.jpg');
}
.picture4 {
    background-image: url('../images/fuji.jpg');
}

.art-category {
    padding-left: 3%;
    background: brown;
    color: white;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
    font-size: 0.85em;
    background: beige;
    /* min-height: 200px; */
    flex-grow: 1; /*mejor flex-grow que min-height ;)*/
}

.sa1-esp {
    background: darkred;
    width: calc(100%);
    padding: 5px;
    color: white;
    text-align: center;
    font-size: 0.8em;
}

.subart2 {
    background: lightgray;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 1%;
    flex: 2;
}

.sa2-1, .sa2-2 {
    background: darkgoldenrod;
    width: auto;
    padding: 5px;
    font-size: 0.8em;
    color: white;
    text-align: center;
}

.sa2-1 {
    margin-bottom: 5px;
}

footer {
    background: transparent;
    display: flex;
    width: auto;
    height: auto;
    margin: 20px 0px;
    padding: 20px;
}

.subfooter {
    background: transparent;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
}

@media screen and (max-width: 768px) {
    article {
        background: transparent;
        flex-direction: column;
    }
    .subheader2 {
        padding-top: 15%;
        padding-bottom: 15%;
    }
    .sh1-3 {
        flex-direction: column;
    }
}

@media screen and (max-width: 384px) {
    header, footer {
        padding: 30px;
    }
    article {
        padding: 25px;
    }
    .subheader1, .subheader2 {
        padding: 30px;
        flex-wrap: wrap;
    }
    .sh1-1, .sh1-2, .sh1-3 {
        padding: 15px;
    }
    .sh1-2 {
        margin: 0 30px;
    }
    .sh2-1 {
        padding: 15px;
    }
    .subart1, .subart2 {
        padding: 30px;
    }
    .sa1-1, .sa1-3 {
        padding: 15px;
        width: 30%;
        margin-bottom: 10px;
    }
    .sa1-2, .sa1-4 {
        padding: 15px;
        width: 30%;
        margin-bottom: 10px;
    }
    .sa1-esp {
        padding: 15px;
        /*margin-top: 20px;*/
    }
    /*no consigo que sa1-1,2,3,4 y esp esten
    separados verticalmente*/
    .sa2-1 {
        padding: 15px;
        margin-bottom: 8px;
    }
    .sa2-2 {
        padding: 15px;
        margin-top: 7px;
    }
    .subfooter {
        padding: 15px;
    }
}